# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python caches
.pytest_cache/
.mypy_cache/

# HuggingFace cache
.cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log